// bower:scss
// endbower
@import url(https://fonts.googleapis.com/css?family=Contrail+One|VT323|Share+Tech+Mono);

@import "compass/css3/box-sizing";

// Vertical Rythm
// http://atendesigngroup.com/blog/vertical-rhythm-compass
@import "compass/typography/vertical_rhythm";

$base-font-size: 16px;
$base-line-height: 24px;

@include establish-baseline;

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

@include placeholder {
    color: #FF0000;
    font-family: 'Share Tech Mono', monospace;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

a {
    color: #FF0000;
    text-decoration: none;
}

body {
    @include rhythm(3, 1, 0, 0, 16px);
    background-color: #221F1F;
    color: #fff;
    font-family: 'Contrail One', cursive;
}

footer {
    background-color: #fff;
    margin: 0 auto;
    text-align: center;

    .logos img {
        display: inline-block;
        vertical-align: bottom;
        margin: 0 2em;
    }
    
    a {
        color: #fff;
    }

    p {
        text-align: right;
    }
}

form {
    text-align: right;

    input {
        @include box-sizing( 'border-box' );
        display: block;
        margin: 0 0 0 auto;
        font-family: 'Share Tech Mono', monospace;
    }

    input[type=submit]{ 
        @include adjust-font-size-to(24px);
        text-align: right;
    }

    input[type=text]{
        @include adjust-font-size-to(18px);
        @include rhythm(1, 0.25, 0.25, 1, 18px);
        color: #FF0000;
        text-align: center;
    }

    input[type=text]:first-of-type {
        @include rhythm(0, 0.25, 0.25, 1, 18px);
    }

    p {
        @include adjust-font-size-to(16px);
        @include rhythm(1, 0, 0.25, 0, 16px);
        letter-spacing: 0.35px;
    }

    #autor {
        @include rhythm(1, 0.25, 0.25, 0.25, 18px);
        width: 27%;
    }

    #submit {
        @include adjust-font-size-to(48px);
        @include rhythm(0, 0, 0.5, 2, 48px);
        border: none;
        background-color: transparent;
        color: #fff;
        cursor: pointer;
        font-family: 'Contrail One', cursive;
    }

    #texto {
        width: 100%;
    }
}

table {
    @include rhythm(0, 0, 0, 6, 16px);
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    tbody {
        color: #FF0000;
        td {
            @include leading-border(1px, 0);
            @include trailing-border(1px, 0);
            @include rhythm(0, 0.5, 0.25, 0, 16px);
            border: 1px solid #fff;
            font-family: 'Share Tech Mono', monospace;
            padding-left: 1em;
            padding-right: 1em;
        }

        tr:first-child {
            td:nth-child(2) {
                border-top: none;
            }
        }
    }

    thead {
    }

    th {
        border: 1px solid;
        @include adjust-font-size-to(26px);
        @include rhythm(0, 0, 0, 0, 48px);
        @include trailing-border(1px, 0);
        border-color: #fff;
        cursor: pointer;
        position: relative;
        text-align: left;

        @include placeholder {
            color: #FFF;
            font-family: 'Contrail One', cursive;
            @include adjust-font-size-to(26px, 1, 26px);
            vertical-align: middle;
            line-height: 40px;
        }

        input {
            @include adjust-font-size-to(26px, 1, 26px);
            @include trailing-border(1px, 0);
            @include rhythm(0, 0.45, 0.45, 0, 36px);
            background-color: transparent;
            border: 0;
            border-bottom:1px solid #fff;
            border-left: 1px solid #fff;
            color: #fff;
            display: inline-block;
            float: right;
            font-family: 'Contrail One', cursive;
            margin-left: 1em;
            padding-left: 1em;
            vertical-align: middle;
            width: 70%;
            margin-bottom: -2px;
        }

        input:focus {
            outline: none;
        }
    }

    td:first-child,
    th:first-child {
        border-left: none;
    }

    td:last-child,
    th:last-child {
        border-right: none;
    }

    th.autor {
        min-width: 5em;
    }

    th.autor, 
    th.fecha {
        text-align: center;
    }

    th.texto {
        border-bottom: none;
        padding-left: 1em;
        padding-right: 0;
    }

    th:after {
        @include adjust-font-size-to(10px);
        content: "\25B2";
        display: none;
        position: absolute;
        right: 10px;
        top: 5px;
    }
    .true th:after {
        content: "\25BC";
    }

    .orderby-fecha th.fecha {
        padding-right: 20px;
    }

    .orderby-fecha th.fecha:after {
        display: inline-block;
    }

    .orderby-autor th.autor {
        padding-right: 20px;
    }

    .orderby-texto th.texto:after {
        display: inline-block;
        margin-right: 1.2em;
        right: 70%;
    }

    .orderby-autor th.autor:after {
        display: inline-block;
    }
}

#marquesina {
    color: #FF0000;
    font-family: 'Share Tech Mono', monospace;
    left: 0;
    position: fixed;
    top:20px;
}

#nav_main {
    ul {
        @include rhythm(0, 0, 0, 0.5, 42px);
        list-style-type: none;
        padding-left: 0;
        padding-right: 0;
        text-align: right;

        li {
            @include adjust-font-size-to(16px);
            @include rhythm(0, 0, 0, 0, 16px);

            a {
                color: #fff;
                text-decoration: none
            }
        }
    }
}

.center {
    text-align: center;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        margin: 0 auto;
        max-width: 960px;
    }
}
