// bower:scss
// endbower
@import url(http://fonts.googleapis.com/css?family=Contrail+One);

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

a {
    color: #FF0000;
    text-decoration: none;
}

/* Space out content a bit */
body {
    background-color: #221F1F;
    color: #fff;
    font-family: 'Contrail One', cursive;
    padding-top: 20px;
    padding-bottom: 0px;
}

footer {
    text-align: center;
}

table {
    width: 100%;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        margin: 0 auto;
        max-width: 730px;
    }
}
