<form>
  <input name="mensaje" id="mensaje" type="text" placeholder="(Ingrese su mensaje aquí)" maxlength="140" required />
  <input name="firma" id="firma" type="text" placeholder="(Ingrese su firma aquí)" maxlength="25" required />
  <input type="submit" value="enviar" />
</form>

<table>
  <thead>
    <tr class="orderby-{{orderByField}} {{reverseSort}}">
      <th class="fecha" ng-click="orderByField='fecha'; reverseSort = !reverseSort">
        fecha
      </th>

      <th class="texto" ng-click="orderByField='texto'; reverseSort = !reverseSort">
        mensaje 
        <input ng-model="query" placeholder="buscar..." />
      </th>

      <th class="autor" ng-click="orderByField='autor'; reverseSort = !reverseSort">
        autor
      </th>

    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="mensaje in mensajes | orderBy:orderByField:reverseSort | filter:query">
      <td>{{mensaje.fecha}}</td>
      <td>{{mensaje.texto}}</td>
      <td>{{mensaje.autor}}</td>
    </tr>
  </tbody>
</table>

